/*### GENERAL ###*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /*#f9004d  rgba(30, 30, 117, 0.815)*/
    --bg-color: #101010;
    --secound-bg-color: #191919;
    --text-color: #fff;
    --secound-color: #c6c9d8bf;
    --main-color:#002395;
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.1rem;

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*column: eje principal Y  --- row: eje principal X*/
    justify-content: space-between;
    /*se alinea en base al eje principal*/
    /* align-items: ; se alinea en base al eje transversal*/
    min-height: 100vh;
    /*Le indicamos que el body debe ocupar el 100% del alto del Browser*/
    background: var(--bg-color);
    color: var(--text-color);
}

/*### NAVBAR ###*/
#menu-icon {
    color: var(--text-color);
    font-size: 32px;
    cursor: pointer;
    display: none;
}

.logo {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a:hover {
    background: var(--main-color);
    border-radius: 30px;
}

form input.buscar {
    padding: 10px;
    border: none;
    outline: none;
    background: var(--secound-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 10px;
}


/*### HEADER ###*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secound-bg-color);
    width: 100%;
    top: 0;
    right: 0;
    padding: 25px 15%;
    transition-duration: .3s;
}

/*### CUERPO ###*/
#imagen-principal {
    width: 400px;
    height: 300px;
}

section.cuerpo {
    width: 400px;
    margin: 0 auto;
}

section.cuerpo-mapa {
    display: flex;
}

aside {
    text-align: center;
    flex: 3;
}

aside a {
    color: var(--text-color);
    font-size: var(--p-font);
}

main {
    flex: 3;
}

.titulo-slide {
    position: relative;
    top: 100px;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

/*### FOOTER ###*/
footer {
    text-align: center;
    background: var(--secound-bg-color);
    padding: 24px;
}



.redes-sociales li a img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}



footer p {
    font-size: 17px;
    color: var(--secound-color);
    letter-spacing: 1px;
}

@media (max-width: 1270px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }

    :root {
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: initial;
    }

    header {
        position: relative;
    }

    .navbar {
        top: -700px;
        position: absolute;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a {
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
    }

    .navbar a:hover {
        background: var(--main-color);
        border-radius: 0px;
    }

    .navbar.active {
        top: 100%;
    }

}